
$verydark: #475465;
$dark: #556C96;

$mediumDark: #699FDD;
$medium2: #7DACE2;
$medium: #91b9e6;
$light: #B6CDE8;
$verylight: #EEEDFF;
$highlight: #FF584D;
$darkHighlight: #ff4034;

$primary: $highlight;
$secondary: $medium;
$gray: #e3e3e3;
$gray1: #CCCCCC;
$gray2: #b5b5b5;
$gray3: #8d8d8d;
$red: #dc3546;
$redDark: #c82333;

[class*="col"] {
    /*border: 1px solid black;*/
}

body, html{
    background-color: $verylight !important;
    height: 100%;
    font-family: "Roboto" !important;
}

// To stick footer at the bottom of the page + make content take the left space
#root{
    display: flex;
    flex-flow: column;
    height: 100%;
}
#body-content > div{
    height:100%;
}
#body-content{
    flex: 1 1 auto;
}
#footer{
    //flex: 0 1 auto;
    background-color: $verydark;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.9rem;
}


.strong-button, 
.dropdown-navbar .dropdown-toggle{
    border-radius: 2rem !important;
    color: white;
}
.strong-button:hover,
.dropdown-navbar .dropdown-toggle:hover{
    background-color: $darkHighlight !important;
    border-color: $darkHighlight !important;
}
.strong-button:not(:hover){
    background-color: $highlight !important;
    border-color: $highlight !important; 
}
.strong-button:not(:active),
.dropdown-navbar .dropdown-toggle:not(:active){
    box-shadow: none !important;
}

.soft-button{
    border-radius: 0.5rem !important;
    color: white !important;
    margin: 5px !important;
}
.soft-button2{
    border-radius: 0.2rem !important;
    margin: 5px !important;
}
.soft-button:not(:active){
    box-shadow: none !important;
}
.blue-soft-button:hover{
    background-color: $mediumDark !important;
    border-color: $mediumDark !important;
}
.blue-soft-button:not(:hover){
    background-color: $medium2 !important;
    border-color: $medium2 !important; 
}
.blue-transparent-soft-button:hover{
    background-color: $medium2 !important;
    border-color: $mediumDark !important;
}
.blue-transparent-soft-button:not(:hover){
    background-color: transparent;
    border-color: $medium2 !important; 
}
.red-soft-button:hover{
    background-color: $redDark !important;
    border-color: $redDark !important;
}
.red-soft-button:not(:hover){
    background-color: $red !important;
    border-color: $red !important; 
}
.gray-soft-button:hover{
    background-color: $gray2 !important;
    border-color: $gray2 !important;
}
.gray-soft-button:active{
    color: black !important;
}
.gray-soft-button:not(:hover){
    background-color: $gray1 !important;
    border-color: $gray1 !important; 
}

.arrow-button{
    border-radius: 0.5rem !important;
    color: $highlight !important;
    margin: 5px !important;
    background-color: transparent !important;
    border: 0px solid black !important;
}
.arrow-button:active,
.arrow-button:active{
    box-shadow: none !important;
}

.dropdown-filter{
    text-align: right !important;
    .dropdown-toggle{
        background-color: $gray !important;
        border-color: $gray !important;
        color: black !important;
        font-size: 0.8rem !important;
    }
    .dropdown-item{
        font-size: 0.8rem !important;
    }
    .dropdown-item:active {
        background-color: $gray1 !important;
        border-color: $gray1 !important;
        color: black !important;
    }
    .dropdown-item.active {
        background-color: $gray !important;
        border-color: $gray !important;
        color: black !important;
    }
    .dropdown-toggle{
        box-shadow: none !important;
    }
}
.dropdown-autocomplete{
    margin-bottom: 16px;
    margin-top: -16px;
    border: 1px solid #ced4da;
    cursor: pointer;

    .dropdown-item{
        overflow: "hidden";
        font-size: 0.9rem !important;
    }
    .dropdown-item:active {
        background-color: $gray1 !important;
        border-color: $gray1 !important;
        color: black !important;
    }
    .dropdown-item.active {
        background-color: $gray !important;
        border-color: $gray !important;
        color: black !important;
    }
}

.dropdown-navbar {
    .dropdown-item:active {
        background-color: $dark !important;
        border-color: $dark !important;
    }
}

#header{
    color: white;
}

#header .row>div{
    margin: auto;
}

.admin-header{
    background-color: #2e7783;
}
.member-header{
    background-color: $dark;
}

.center{
    text-align: center;
    margin: 10px;
}

.card-list-items{
    margin: 0;
    font-size: 0.9rem;
}
.card-with-link:hover{
    opacity: 75%;
    cursor: pointer;
}

#logo:hover{
    cursor: pointer;
}

// Close icon in popUp
.close { 
    position: absolute; 
    right: 1rem;
}

.div-center-content{
    display: flex;
    justify-content: center;
}

.error-form{
    color: red;
    font-size: 0.8rem;
}

/*li:before {
    content: "-";
    padding-right: 5px;
}*/

ul {
    //list-style: none;
    padding-left: 15px;
}

td, th {
    vertical-align: middle !important;
}

#create-property-popup, #update-property-popup {
    width: 400px
}