
$verydark: #475465;
$dark: #556C96;
$mediumDark: #699FDD;
$medium: #91b9e6;
$light: #B6CDE8;
$verylight: #EEEDFF;
$highlight: #FF584D;
$darkHighlight: #ff4034;

$primary: $highlight;
$secondary: $medium;
$gray: #e3e3e3;
$gray2: #b5b5b5;
$gray3: #8d8d8d;

[class*="col"] {
    /*border: 1px solid black;*/
}

body, html{
    background-color: $verylight !important;
    height: 100%;
    font-family: "Roboto" !important;
}

// To stick footer at the bottom of the page + make content take the left space
#root{
    display: flex;
    flex-flow: column;
    height: 100%;
}
#body-content > div{
    height:100%;
}
#body-content{
    flex: 1 1 auto;
}
#footer{
    //flex: 0 1 auto;
    background-color: $verydark;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
}


.strong-button, 
.dropdown-toggle{
    border-radius: 2rem !important;
    color: white;
}
.strong-button:hover,
.dropdown-toggle:hover{
    background-color: $darkHighlight !important;
    border-color: $darkHighlight !important;
}
.strong-button:not(:hover){
    background-color: $highlight !important;
    border-color: $highlight !important; 
}
.strong-button:not(:active),
.dropdown-toggle:not(:active){
    box-shadow: none !important;
}

.soft-button{
    border-radius: 0.5rem !important;
    color: white !important;
    margin: 5px !important;
}
.soft-button:hover{
    background-color: $mediumDark !important;
    border-color: $mediumDark !important;
}
.soft-button:not(:hover){
    background-color: $medium !important;
    border-color: $medium !important; 
}
.soft-button:not(:active){
    box-shadow: none !important;
}





.dropdown-item:active {
    background-color: $dark !important;
    border-color: $dark !important;
}

#header{
    background-color: $dark;
    color: white;
}

#header .row>div{
    margin: auto;
}

.center{
    text-align: center;
    margin: 10px;
}

.card-list-items{
    margin: 0;
    font-size: 0.9rem;
}
.card-with-link:hover{
    opacity: 75%;
    cursor: pointer;
}

#logo:hover{
    cursor: pointer;
}

// Close icon in popUp
.close { 
    position: absolute; 
    right: 1rem;
}

.div-center-content{
    display: flex;
    justify-content: center;
}

.error-form{
    color: red;
    font-size: 0.8rem;
}